<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <h1>Play</h1>
    <h2>***Add trivia game content here***</h2>

    <h4>Trivia question from API below:</h4>
    <p><%= questions[0].question %></p>
    <ol type="a">
      <% let answers_arr = [questions[0].correctAnswer, ...questions[0].incorrectAnswers]; %>
      <% for (let i = 0; i < answers_arr.length; i++) { %>
        <li><%= answers_arr[i] %>
      <% } %>
    </ol>
  </div>
</main>

<%- include ('../partials/footer') %>